p {
  margin-block-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color:  #F2F2F2;
  position: relative;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  background-size: contain;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin: auto 0 auto 64px;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  margin-top: 0;
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  background-size: contain;
  z-index: 1;
  bottom: 0;
  right: 53px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: 100px auto 100px auto;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: stretch;
  margin-top: 0;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 100px;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 1;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
}

.feynman {
  height: 790px;
  background-color:  #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 100px auto 0;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 1;
  text-align: center;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  background-size: contain;
  left: 0;
  bottom: 0;
}

.feynman__link {
  color: #000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  background-color: #1F1F1F;
  color: white;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: contain;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  display: flex;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  position: relative;
  justify-content: flex-end;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

